/* THEME COLORS */
:root {
  --green: #1f7a1f;
  --green-dark:  #f39c12;
  --bg: #f8fafc;
  --text: #0f172a;
  --white: #fff;
}

/* GLOBAL */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: #b91c1c;
  background: var(--bg);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
   background: var(--green); 
  color: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-links a {
  color: var(--white);
  margin-left: 1.2rem;
  text-decoration: none;
  font-weight: 500;
}
#home{
  position: relative;

  width: 100vw;
  height: 100vh;

  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  padding: 0;
  max-width: none;
}
/* ================================
   CAROUSEL HERO CONTAINER
================================ */
.carousel-container {
  position: relative;
  width: 100vw;
  height: 100vh;
   margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  overflow: hidden;
}

/* ================================
   SLIDES
================================ */
.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Active slide */
.slide.active {
  opacity: 1;
  z-index: 1;
}

/* ================================
   OVERLAY
================================ */
.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

/* ================================
   CAPTION
================================ */
.caption {
  position: absolute;
  inset: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 20px;

  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

/* ================================
   RESPONSIVE
================================ */
@media (max-width: 768px) {
  .carousel-container {
    height: 70vh;
  }

  .caption {
    font-size: 1.8rem;
  }
}

/* SECTIONS */
.section {
  padding: 4rem 2rem;
  text-align: center;
 
}

.about p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

/* IMPACT */
.impact-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.impact-card {
  background: var(--white);
  padding: 2rem;
  flex: 1 1 200px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-left: 10px solid #145214;
  border-right: 10px solid #145214;
}

/* CTA */
.join-cta {
  background: #145214;
   color: white;
   
  
}
.join-cta p{
margin-top: 10px;
}
.btn.primary {
  padding: 0.8rem 1.6rem;
  background: #f39c12;
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  margin-top: 10px;
}
